@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300,700|Playfair+Display:700,400);

body {
    background-color: #fff;
    margin: 0;
}
.page-wrap {
    background-color: #fff;
    margin: 0 auto;
    padding: 30px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
}

/* TITULO WEB */
#home {
	text-align: center;
}
.spacetop {
	padding-top: 80px;

}

/* NAVEGADOR SUPERIOR MENU */
.menubar {
	margin: 0;
	width: 100%;
	height: 55px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	color: #FF369B;
	box-shadow: 0px 5px 4px #ccc;
	overflow: auto;
	z-index: 2;
}
.menu {
	margin-left: 15px;
}

/* TITULOS */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}
h1, h2 {
	color: #FF369B;
	font-weight: 400;
	text-transform: uppercase;
}

h3, h4, h5, h6 {
	font-weight: 700;
	color: #000;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

/* PARRAFO */
p {
	font-size: 16px;
}

/* ENTRECOMILLADOS */
blockquote {
	text-indent: -30px;
	line-height: 20px;
}
.bq {
	color: #FF369B;
	font-weight: bold;
	font-size: 20px;
	padding: 0 10px;
}
/* LISTAS */
ul {
	list-style-type: square;
}
ul li {
	list-style: none;
} 
ul li:before {
	content:'\25A0';
	margin-right: 10px;
	color: #FF369B; 
}
ol li {
    list-style-type: none;
    counter-increment: list;
}
ol li:before{
	content: counter(list) ".";
	color: #FF369B;
	margin-right: 10px;
}
/* CAJAS DE TEXTO */
dd {
	border: solid black 1px;
	padding: 30px;
	margin: 0;
	margin-bottom: 40px;
}
dt {
	display: block;
	margin-bottom: -20px;
	color: white;
	background: black;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

dd.alternativo {
	background: black;
	color: white;
}
dt.alternativo {
	position: relative;
	color: black;
	background: white;
	border: solid black 1px;
	z-index: 1;
}

/* COLORES */
.colores {
	padding: 0 200px;
}
.paintchip {
	display: inline-block;
	width: 15%;
	padding: 15px;
}
.colorpatch {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
}
.namelabel {
	width: auto;
	height: 30px;
	margin: 0;
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.color1 {
	background-color: #e0e0e0;
}
.color2 {
	background-color: #c8c8c8;
}
.color3 {
	background-color: #FF369B;
}
.color4 {
	background-color: #707070;
}
.color5 {
	background-color: #484848;
}

/* BOTONES */
#botones a {
	margin: 0 20px;
}
.btn {
	display: inline-block;
	background-color: #000;
	color: #fff;
	width: 140px;
	height: 55px;
	text-align: center;
	line-height: 60px;
}
.btn-alt {
	background-color: #fff;
	color: #000;
	border: solid 1px #000;
}
/* CONTACTO */
#contacto dt, #contacto dd {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#contacto dt {
	z-index: 1;
}
/* FOOTER */
footer {
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 0;
}
footer span {
	display: inline-block;
}
.heart {
	position: relative;
	padding-top: 10px;
	padding-left: 15px;
}
.heart:before, .heart:after {
	position: absolute;
	content: "";
	left: 7px;
	top: 0;
	width: 7px;
	height: 10px;
	background: #fff;
	border-radius: 50% 50% 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}
.heart:after {
	left: 0; 
	transform: rotate(45deg);
	transform-origin :100% 100%;
}
/* COSAS QUE SE REPITEN */
a {
	text-decoration: none;
	color: inherit;
}
.pull-rigth {
	float: right;
	display: inline-block;
	margin: 15px;
}
.pull-left {
	float: left;
	display: inline-block;
	margin: 15px;
}
